.location{
    color: rgb(168, 90, 90); 
    font-family: 'Lucida Sans';
    margin-left: 70px;

}

h4{
    font-family: 'Lucida Sans';
    margin-left: 70px;
    margin-bottom: 0px;
}
#reasons{
    display: flex;
    font-family: 'Lucida Sans';
}
#culture{
    padding-left: 50px;
    padding-right: 60px;
    margin-left: 70px;
    margin-bottom: 20px;
    color: rgb(80, 20, 20);
    font-size: medium;
}
#benefits{
    padding-left: 20px;
    padding-right: 50px;
    margin-bottom: 20px;
    color: rgb(80, 20, 20);
    font-size: medium;
}

h2{
    font-family: 'Lucida Sans';
    text-align: center;
    color: rgb(143, 35, 35);
}

h1{
    font-family: 'Lucida Sans';
    color: rgb(255, 255, 255);
    background-image: url(https://img.freepik.com/premium-vector/dark-red-vector-template-with-circles_6869-2032.jpg);
    margin-top: 0px;
    padding-bottom: 10px;
    padding-top: 5px;
    margin-bottom: 30px;
    background-size: cover;
    
}

.apply{
    color: rgb(255, 255, 255); 
    font-family: 'Lucida Sans';
    font-size: small;
    margin-left: 1015px;
    display:flex;
    background-color:rgb(82, 32, 32);
    border-radius: 4px;
    margin-right: 80px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;

}

.footer{
    display: flex;
    font-family: 'Lucida Sans';
    color: rgb(255, 255, 255);
    background-image: url(https://img.freepik.com/premium-vector/dark-red-vector-template-with-circles_6869-2032.jpg);
    margin-top: 0px;
    padding-top: 10px;
    background-size: cover;
}

#copyright{
    margin-left: 50px;
    margin-right: 150px;
    
}

#contact{
    margin-right: 150px;
    margin-left: 50px;
    text-decoration:none;
}

#services{
    margin-right: 150px;
    margin-left: 50px;
    text-decoration:none;
}

#socials{ 
    margin-right: 50px;
    margin-left: 100px;
    text-decoration:none;
}

#banner{
    width: 100%;
}

body{
    margin: 0;
    padding: 0;
}

#about{
    font-family: 'Lucida Sans';
    text-align: center;
    margin-bottom: 40px;
    color: rgb(80, 20, 20);
}



#home{
    margin-left: 1010px;
    font-size: large;

}

#core-values{
    background-image: url(https://img.freepik.com/premium-vector/dark-red-vector-template-with-circles_6869-2032.jpg);
    background-size: cover;
    display: flex;
}


#cvtitle{
    margin-left: 400px;
    margin-top: 40px;
}

#values{
    font-family: 'Lucida Sans';
    text-align: left;
    margin-bottom: 0px;
    color: rgba(255, 255, 255, 0.822);
    margin-left:200px
}

#navbar{
    background-image: url(https://img.freepik.com/premium-vector/dark-red-vector-template-with-circles_6869-2032.jpg);
    background-size: cover;
}

#header{
    background-image: url(https://img.freepik.com/premium-vector/dark-red-vector-template-with-circles_6869-2032.jpg);
    background-size: cover;
}

#jobs{
    background-color: rgba(220, 216, 212, 0.162);
    padding-top: 0.1px;
    padding-bottom: 1px;
    margin-bottom: 3px;
}


